name: Release Build

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            artifact_name: ruzz
            asset_name: ruzz-linux-amd64
            use_cross: false

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: ruzz.exe
            asset_name: ruzz-windows-amd64.exe
            use_cross: false

          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: ruzz
            asset_name: ruzz-macos-amd64
            use_cross: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install dependencies (Linux only)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools

      - name: Build Binary
        run: cargo build --release --target ${{ matrix.target }}

      - name: Strip Binary (Linux/Mac)
        if: matrix.os != 'windows-latest'
        run: strip target/${{ matrix.target }}/release/${{ matrix.artifact_name }}

      - name: Rename and Prepare Asset
        shell: bash
        run: |
          cp target/${{ matrix.target }}/release/${{ matrix.artifact_name }} ${{ matrix.asset_name }}

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: ${{ matrix.asset_name }}